<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read (All)</title>
</head>
<body>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Action</th>
        </tr>
    {% for user in users %}
    <tr>
    <td>{{user.id}}</td>
    <td>{{user.first_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
    <td>
    <a href="/{{user.id}}">Show User</a>
    <a href="/renderupdateuser/{{user.id}}">Update User</a>
    <a href="/delete/{{user.id}}">Delete User</a>
    </td>
    </tr>
    {% endfor %}
    </table>
<div>
<a href="/renderadduser">Add New User</a>
</div>
</body>
</html>