<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h1>Update a User</h1>
    <form action="/updateuser" method="POST">
        <input type="hidden" name="id" value="{{id}}">
        <div>   
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
        </div>
            <label for="email" >E-mail:</label>
            <input type="text" name="email">
        <div>
            <input type="submit" value="Update User">
        </div>
    </form> 
    <a href="/">Home</a>
</body>
</html>