<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo</title>
</head>
<body>
    <div class="container">
        <h1>New Dojo</h1>
        <form action="/dojos/process" method="post">
            <label>Name:</label>
            <input type="text" name="name">
            <input type="submit" value="Create">
        </form>
        <h1>All Dojos</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Dojo</th>
            </tr>
            {% for dojo in dojos %}
            <tr>
                <td>{{dojo.id}}</td>
                <td><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/ninjas">Add Ninja</a>
        </div>
</body>
</html>